/* MY STYLESHEET (mystyles.css") */

a:link, a:visited {
    color:whitesmoke;
    background-color:transparent;
    font-family:Helvetica,sans-serif,Arial;
    text-decoration:none;
}

a:hover, a:active {
    color:navajowhite;
    background-color:transparent;
    font-family:Helvetica,sans-serif,Arial;
    text-decoration:none;
}

h1 {
    margin:20px;
    color:whitesmoke;
    font-family:Garamond,serif;
    font-weight:bold;
    font:40px;
}

h2 {
    margin:20px;
    color:linen;
    font-family:Garamond,serif;
    font-weight:bold;
    font:36px;
}

h3 {
    margin:20px;
    color:antiquewhite;
    font-family:Helvetica,sans-serif,Arial;
    font-weight:bold;
    font-variant-caps:all-small-caps;
    font:14px;
    display:inline;
    text-align:right;
}

h4 {
    margin:20px;
    color:antiquewhite;
    font-family:Helvetica,sans-serif,Arial;
    font:10px;
    font-weight:lighter;
    text-align:center;
}

p {
    margin:20px;
    line-height:10px;
    color:whitesmoke;
    font-family:Helvetica,sans-serif,Arial;
    font:10px;
}

.page {
    background-color:darkslategrey;
    color:linen;
    font-family:Helvetica,sans-serif,Arial;
    line-height:150%;
    border:4px solid linen;
    max-width:fit-content;
    margin:20px;
    padding:20px;
}

.navbar {
    background-color:transparent;
    color:navajowhite;
    font-family:Helvetica,sans-serif,Arial;
    font-weight:bold;
    border:1px transparent;
    margin:20px;
    padding:1px;
    display:inline;
    text-align:right;
}

img:hover {
    opacity:0.7;
}

ol {
    list-style:none;
}

div.gallery {
    margin:5px;
    border:1px solid #ccc;
    float:left;
    width:180px;
  }
  
div.gallery:hover {
    border:5px solid #777;
  }
  
div.gallery img {
    width:100%;
    height:auto;
  }
  
div.gallerydesc {
    padding:15px;
    text-align:center;
    background-color:transparent;
    color:linen;
    font-family:Helvetica,sans-serif,Arial;
    font:10px;
  }

.responsive {
    padding:0 6px;
    float:left;
    width:24.99999%;
  }
  
@media only screen and (max-width: 700px) {
    .responsive {
      width:49.99999%;
      margin:6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width:100%;
    }
  }
  
.clearfix:after {
    content:"";
    display:table;
    clear:both;
  }

.footer {
    text-align:center;
    color:antiquewhite;
    font-size:10px;
    font-family:Helvetica,sans-serif,Arial;
}
